li {
	list-style-type: none;
}

li a {
	color: white;
	font-family: 'Montserrat';
}

* {
	margin: 0; 
	text-decoration: none;
	padding: 0;
}

body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	/*width: 375px;*/
}

@media (min-width: 420px) {
	content {
		position: absolute;
		height: 812px;
		width: 375px;
		left: calc(50% - 185px);
		top: 0px;
		padding: 10px;
	}
}

@media (max-width: 380px) {


	.limonade_text ul li {
	    margin: -53px 0px;
	}

	.limonade_text ul li h2 {
		font-size: 21px;
	}
}

.page {
	background: url(../img/main_bg_mob.png) no-repeat;
	background-size: 100% 100%;
	height: 812px;
}

header {
	background: black;
	position: sticky;
	width: 100%;
	height: 70px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	z-index: 9999;
}

.logo {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: absolute;
	height: 60%;
	width: 36%;
	top: 28%;
	left: 5%;
	color: white;
}

.logo_name {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 0.245em;
}

.logo_phone {
	position: relative;
	font-family: 'Montserrat';
	font-weight: 200;
	font-size: 10px;
	letter-spacing: 0.05em;
}

.menu_btn {
	position: absolute;
	top: 28%;
	right: 5%;
	height: 60%;
	width: 11.2%;
	background: url(../img/menu_btn_mob.png) no-repeat;
	background-size: 100% 100%;
}

.limonade_text {
	position: absolute;
	left: 6.666%;
	top: 26.5%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.limonade_text li {
	margin: -55px 0px;
}

.limonade_text h2 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 23px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.text2_page1 {
	position: absolute;
	top: 32%;
	left: 6.666%;
}

.text2_page1 h5 {
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.05em;
}

.text3_page1 {
	position: absolute;
	top: 45%;
	left: 6.666%;
	height: 10.875%;
}

.text3_page1 h5 {
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 11px;
	letter-spacing: 0.05em;
	line-height: 18px;
}

.more_info_page1_url {
	position: relative;
	top: 15%;
	left: 0px;
}

.more_info_page1_url a {
	color: white;
}

.text3_page1 img {
	position: relative;
	top: 1.25%;
	width: 57%;
	overflow: hidden;
}

.text3_page1 h2 {
	color: white;
	position: relative;
	left: 0px;
	top: 1.25%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.img_page1 {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 92%;
	height: 14%;
	left: 4%;
	top: 69.5%;
	overflow: hidden;
}

.img_page1 img {
	flex: 1 1 auto;
	margin: 4px;
	height: 90%;
	width: 30%;

}

.btn_page1 {
	position: absolute;
	left: 26.5%;
	top: 88%;
	width: 47%;
	height: 5.75%;
	background: #FFD912;
	border-radius: 5px;
	border: none;
}

.btn_page1 a {
	color: black;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.05em;
}

/*menu*/

.menu {
	position: absolute;
	background-color: #262525;
	width: 250px;
	height: 100vh;
	top: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 9999999;
	transition: 0.5s;
	transform: translateX(100%);
	/*overflow: hidden;*/
}

.menu_active {
	position: absolute;
	background-color: #262525;
	width: 250px;
	height: 100vh;
	top: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 9999999;
	transition: 0.5s;
	transform: translateX(0%);
	/*overflow: hidden;*/
}

.logo_menu {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	position: absolute;
	height: 15%;
	width: 100%;
	top: 2%;
	color: white;
}

.logo_menu_name {
	position: relative;
	top: 0px;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 0.245em;
	text-align: center;
	color: white;
}

.log_cart {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	top: 40%;
	width: 100%;
	left: 0px;
}

.log_cart a {
	margin: 0px 20px;
	font-size: 15px;
	text-align: center;
}

.log_cart img {
	height: 20px;
	color: black;
	margin: 0px 5px;
}

.cart_btn {
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.menu_list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	height: 35%;
	weight: 100%;
	left: 4%;
	top: 20%;
}

.menu_list li a {
	position: static;
	top: 0px;

	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-align: center;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 13px;
}

.menu_footer {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 35%;
	width: 100%;
	bottom: 0px;
	background-color: #161616;
}

.menu_footer ul li {
	height: 33.333%;
	width: 100%;
}

.phone_footer {
	position: relative;
	top: 16px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 13.5px;
	letter-spacing: 0.05em;
	color: white;
}

.phone_call h5 {
	position: relative;
	top: 24px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: white;
}

.phone_call img {
	position: relative;
	top: 12px;
	width: 41%;
}

.polit_conf {
	position: absolute;
	bottom: 0px;
	font-family: 'Montserrat';
	color: white;
}

.polit_conf h5 {
	position: relative;
	top: 50%;
	left: 10%;
	font-weight: 300;
	letter-spacing: 0.05em;
	font-size: 8px;
}

.adress {
	position: absolute;
	left: 10%;
	top: 33.333%;
	color: white;
}

.adress h5 {
	position: relative;
	top: 30%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 13.5px;
	letter-spacing: 0.05em;
}