li {
	list-style-type: none;
}

li a {
	color: white;
	font-family: 'Montserrat';
}

* {
	margin: 0;
	text-decoration: none;
	padding: 0;
}

body {
	margin: 0 auto; /*позиционирование по центру*/
	overflow-x: hidden;
	max-width: 1600px;
}

/*Header container*/

header {
	background: black;
	position: sticky;
	width: 100%;
	height: 100px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	z-index: 9999;
}

.teleport {
	display: none;
}

.logo {
	position: absolute;
	/*width: 18%;*/
	height: 5.625%;
	left: 2.1875%;
	top: 28%;
}

.logo .logo_name {
	position: relative;
	width: 9.25%;
	height: 27%;

	font-style: normal;
	font-weight: 300;
	font-size: 137.5%;
	letter-spacing: 0.245em;
	text-transform: uppercase;
}

.logo .logo_phone {
	position: relative;
	width: 100%;
	height: 16%;
	top: 50%;

	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.05em;
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	height: 18%;
	weight: 41.75%;
	left: 17%;
	top: 41%;
}

.menu li a {
	position: static;
	top: 0px;

	font-style: normal;
	font-weight: 300;
	font-size: 93.75%;
	line-height: 18%;
	letter-spacing: 0.05em;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 13px;
}

.log_cart {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	right: 3.1875%;
	top: 37%;
}

.log_cart li a {
	margin: 0px 9px;
	font-size: 17px;
	text-align: center;
}

.log_cart img {
	height: 22px;
	color: black;
	margin: 0px 5px;
}

/*Footer*/

.footer {
	background: #161616;
	position: relative;
	width: 100%;
	height: 250px;
	margin: 0 auto; /*позиционирование по центру*/
	bottom: 0px;
	color: white;
	display: flex;
}

/*Footer container*/

.logo_name_footer {
	position: absolute;
	width: 8.4375%;
	height: 9.6%;
	left: 12.5%;
	top: 38.8%;

	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 0.245em;
	text-transform: uppercase;
}

.adress {
	top: 54%;
	left: 12.5%;
	position: absolute;
	padding: 0;
}

.polit_conf {
	position: absolute;
	width: 269px;
	left: 666px;
	top: 50%;
	margin: 0 auto; /*позиционирование по центру*/
	font-family: 'Montserrat';
	text-align: center;
}

.adress li {
	margin:0 0px 5px 0;
}

.adress h5 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.05em;
}

.phone_footer {
	position: absolute;
	width: 217px;
	right: 200px;
	top: 97px;


	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.05em;
	color: white;
}

.phone_call {
	position: absolute;
	/*left: 1262px;*/
	right: 212px;
	top: 139px;
}

.phone_call h5 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 13.7px;
	letter-spacing: 0.05em;
}

.phone_call img {
	position: absolute;
	top: 22px;
}

/*Content container*/

/*background for 1 and 2 pages*/

.container_page_1_2 {
	background: url(../img/page_1_2_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 1600px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;
}

/*Page_1*/

.page_1 {
	position: absolute;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
}

.page_2 {
	position: absolute;
	width: 100%;
	height: 800px;
	top: 800px;
	left: 0px;
	margin: 0 auto; /*позиционирование по центру*/
}


.limonade_text {
	position: absolute;
	left: 12.08125%;
	top: 39.125%;
}

.limonade_text li {
	margin: -73.3px;
}

.limonade_text h2 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.text2_page1 {
	position: absolute;
	top: 45.25%;
	left: 7.5%;
}

.text2_page1 h5 {
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 0.05em;
}

.btn_page1 {
	position: absolute;
	left: 12.5%;
	top: 59.5%;
	width: 200px;
	height: 5.75%;
	background: #FFD912;
	border-radius: 5px;
	border: none; /*рамка*/
}

.btn_page1 a {
	color: black;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.05em;
}

.img_page1 {
	position: absolute;
	width: 23.1875%;
	height: 324px;
	left: calc(50% - 23.1875%/2 + 1%);
	top: 25%;
	border-radius: 40px;
	background: #FFFFFF;
	opacity: 0.6;
	background: url(../img/1page_img.png) no-repeat;
	background-size: cover;
}

.text3_page1 h5 {
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 0.05em;
	line-height: 18px;
}

.text3_page1 {
	position: absolute;
	top: 33.25%;
	right: 8.75%;
	height: 10.875%;
}

.more_info_page1_url {
	position: relative;
	top: 2.5%;
	left: 0px;
}

.more_info_page1_url a {
	color: white;
}

.text3_page1 img {
	position: relative;
	top: 1.25%;
	left: 0px;
}

.text3_page1 h2 {
	color: white;
	position: relative;
	left: 0px;
	top: 1.25%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.hits_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	height: 4.625%;
	left: 15.3125%;
	top: 16%;
}

.hits_logo h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.hits_logo img {
	position: relative;
	left: 1.3125%;
}

.left_btn_page2 {
	position: absolute;
	width: 1.4375%;
	height: 2.875%;
	left: 7.5%;
	top: calc(50% - 2.875%/2 + 0.1875%);
	background: #FFD912;
	border-radius: 100px;
}

.left_btn_page2 img {
	position: absolute;
	width: 50%;
	height: 80%;
	top: 10%;
	left: 20%;
}

.positions {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	width: 80%;
	height: 50.625%;
	left: 10%;
	top: 26%;
	overflow: hidden;
}

.positions li {
	position: static;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 1% 1%;
	margin-left: 0px;
}

.positions div {
	position: static;
	width: 100%;
	height: 405px;
	background: rgba(0, 0, 0, 0.5);
	mix-blend-mode: normal;
}

.right_btn_page2 {
	position: absolute;
	width: 1.4375%;
	height: 2.875%;
	right: 7.375%;
	top: calc(50% - 2.875%/2 + 0.1875%);
	background: #FFD912;
	border-radius: 100px;
}

.right_btn_page2 img {
	position: absolute;
	width: 50%;
	height: 80%;
	top: 10%;
	transform: rotate(-180deg);
}

.stars_row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	left: 4%;
	top: 2%;
}

.stars_row li {
	margin: 0px 1px;
}

.pos_reviews {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	left: 30%;
	top: 2%;
}

.pos_reviews h5 {
	position: relative;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: white;
}

.pos_reviews img {
	position: static;
	margin: 4px 0px;
}

.img_for_pos {
	position: relative;
	width: 228.06px;
	height: 198px;
	left: 13px;
	top: 34px;
}

.name_price_pos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 43px;
	left: 3%;
	top: 10%;
}

.name_price_pos h3 {
	position: relative;
	width: 240px;
	height: 32px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	vertical-align: middle;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.name_price_pos h4 {
	position: relative;
	width: 109px;
	height: 16px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

.name_price_pos li {
	margin: -5px 0px;
}

.organizer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 228px;
	height: 8px;
	left: calc(50% - 228px/2);
	bottom: 119px;
}

.organizer li {
	margin: 0px 12px;
}

.arrow_pos {
	position: static;
}

.btn_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 254px;
	height: 75px;
	left: 0px;
	top: 53px;
}

.btn_box li {
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 9px;
}

.buy_btn_pos_page2 {
	position: static;
	width: 107px;
	height: 47px;
	left: 12.5px;
	top: 14px;
	background: #FFD912;
	border-radius: 5px;
	border: none; /*рамка*/
}

.reserv_btn_pos_page2 {
	position: static;
	width: 107px;
	height: 45px;
	left: 134.5px;
	top: 15px;
	border: 1px solid #FFD912;
	box-sizing: border-box;
	border-radius: 5px;
	background-color:rgba(0, 0, 0, 0);
	color: #FFD912;
}

/*Page_3*/

page_3_bg {
	background: url(../img/page3_bg.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;
}

.page3 {
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
}

.logo_page_3 {
	position: absolute;
	left: 15.19%;
	right: 43.06%;
	top: 16.62%;
	bottom: 71.25%;
}

.logo_page_3 ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 606px;
	height: 37px;
	left: 34px;
	top: 0px;
}

.logo_page_3 li {
	margin: 0px 14px;
}

.logo_page_3 h3 {
	position: static;
	height: 37px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.logo_page_3 img {
	position: static;
	width: 135px;
	top: 18.5px;
}

.logo_page_3 h4 {
	position: absolute;
	left: 188px;
	top: 73px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.page3 h5 {
	position: absolute;
	left: 27.06%;
	right: 46.69%;
	top: 31.75%;
	bottom: 59.25%;
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: white;
}

.page3 button {
	left: 27.12%;
	right: 61.44%;
	top: 45%;
	bottom: 49.25%;
}

.img_page_3 {
	position: absolute;
	left: 62.69%;
	right: 15.44%;
	top: 16.62%;
	bottom: 23.38%;
}

/*Page 4*/

page_4_bg {
	background: url(../img/reviews_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;
}

.page4 {
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
	overflow: hidden;
}

.page4 .page_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 464px;
	height: 37px;
	left: calc(55% - 284px);
	top: 44px;
}

.page4 .page_logo li {
	margin: 0px 8.5px;
}

.page4 .page_logo h3 {
	position: static;
	width: 152px;
	height: 37px;
	left: 156px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.page4 .page_logo li img {
	position: relative;
	bottom: 5px;
}

.page4 .page4_pos_4 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: 675px;
	top: calc(50% - 225px/2 - 162.5px);
	overflow: hidden;
}

.page4 .page4_pos_4 li {
	margin: 10px 20px;
	position: relative;
	width: 369.46px;
	height: 200px;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	mix-blend-mode: normal;
	border-radius: 30px;
}

.page4 .page4_pos_4 .review_infobox{
	position: relative;
	width: 333px;
	height: 35px;
	left: 10px;
	top: 10px;
}

.page4 .page4_pos_4 .review_infobox .user_icon {
	position: absolute;
	width: 40px;
	height: 34.55px;
	left: 0px;
	top: 0px;
	border-radius: 100px;
	background-color: black;
}

.page4 .page4_pos_4 .review_infobox h5 {
	position: relative;
	width: 170px;
	height: 17px;
	left: 50px;
	top: 0px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
}

.page4 .page4_pos_4 .review_infobox ul {
	position: absolute;
	left: 10px;
	top: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.page4 .page4_pos_4 .review_infobox button {
	position: absolute;
	width: 93px;
	height: 31px;
	left: 240px;
	top: 2px;
	background: #FFD912;
	border-radius: 5px;
	border: none;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 11px;
	line-height: 140%;
	letter-spacing: 0.05em;
}

.page4 .page4_pos_4 .review_text {
	position: absolute;
	height: 109px;
	left: 20px;
	top: 73px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: white;
}

page_5_bg {
	background: url(../img/contacts_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;
}

.page5 {
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
}

.page5 .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	width: 528px;
	height: 37px;
	left: 1015px;
	top: 16%;
}

.page5 .logo h3 {
	position: static;
	width: 394px;
	height: 37px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.page5 .logo_text {
	position: absolute;
	left: 10%;
	top: 30%;
}

.page5 .logo_text h3 {
	position: relative;
	left: 0px;
	top: 0px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: white;
}

.page5 .text_list .t_1 {
	position: absolute;
	width: 345px;
	height: 117px;
	left: 45%;
	top: 30%;
}

.page5 .text_list .t_1 h4 {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
}

.page5 .text_list .t_2 {
	position: absolute;
	width: 345px;
	height: 91px;
	left: 12%;
	top: 50%;
}

.page5 .text_list .t_2 h4 {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
}

.page5 .text_list .t_3 {
	position: absolute;
	width: 286px;
	height: 91px;
	left: 80%;
	top: 60%;
}

.page5 .text_list .t_3 h4 {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
}

.page5 .text_list .t_4 {
	position: absolute;
	left: 35%;
	top: 65%;
}

.page5 .text_list .t_4 h4 {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 11px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
	transform: rotate(21.94deg);
}

page_6_bg {
	background: url(../img/reviews_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	margin: 0 auto; /*позиционирование по центру*/
	display: flex;

}

.page6 {
	position: relative;
	width: 100%;
	height: 800px;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
}

.page6 .contacts_img_list {
	display: flex;
    flex-direction:row;
    background-size: cover;
    justify-content: space-between;
}

.page6 .contacts_img_list .img1 {
	position: absolute;
	right: 20%;
	top: 30%;
}

.page6 .contacts_img_list .img2 {
	position: absolute;
	left: 20%;
	top: 30%;
}

.page6 .logo_contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	left: 12.5%;
	top: 16%;
}

.page6 .logo_contact h3 {
	position: relative;
	right: 22px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.log_in_page {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
}

.header_log {
	position: relative;
	background-color: black;
	height: 12.5%;
	width: 100%;
	text-align: center;
}

.header_log a {
	position: absolute;
	top: 40%;
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: 0.245em;
	text-transform: uppercase;
}

.log_in_box {
	position: absolute;
	width: 300px;
	height: 231px;
	left: 40.625%;
	top: 35.625%;
}

.log_in_page .log_in_box li {
	position: relative;
	width: 300px;
	height: 45px;
	border: solid white;
	border-radius: 4px;
	border-width: 1px;
}

.log_in_page .log_in_box img {
	position: relative;
	width: 20px;
	height: 20px;
	left: 12px;
	top: 13px;
}

.log_in_page .log_in_box h4 {
	position: relative;
	bottom: 12px;
	left: 51px;
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: white;
}
.log_in_page .log_in_box h5 {
	position: relative;
	top: 23px;
	right: 0px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	color: white;
}

.log_in_page .log_in_box button {
	position: relative;
	top: 32px;
	width: 300px;
	height: 45px;
	bottom: 159px;
	background: #FFD912;
	border-radius: 5px;
	border: none; /*рамка*/
}

.log_in_page .log_in_box button a {
	color: black;
	position: absolute;
	width: 300px;
	height: 45px;
	left: 0px;
	top: 0px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 16px;
	line-height: 45px;
	letter-spacing: 0.05em;
	border-radius: 5px;
}

.cart {
	background: #161616;
	position: fixed;
	width: 375px;
	height: 100%;
	top: 0px;
	right: 0%;
	margin: 0 auto;  /*позиционирование по центру*/
	display: flex;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 200px 0px;
	overflow: hidden;
	transition: 0.5s;
	z-index: 99999;
	transform: translateX(100%);
	display: none;
}

.cart_btn {
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.cart_active {
	background: #161616;
	position: fixed;
	width: 375px;
	height: 100%;
	top: 0px;
	right: 0px;
	margin: 0 auto;  /*позиционирование по центру*/
	display: flex;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 200px 0px;
	overflow: hidden;
	transition: 0.5s;
	z-index: 99999;
	transform: translateX(0%);
}

.cart h3 {
	position: relative;
	width: 120px;
	height: 21px;
	left: 213px;
	top: 23px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.cart img {
	position: absolute;
	top: 52px;
	left: 213px;
	width: 120px;
	height: 2px;
}

.cart ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	flex-wrap: wrap;
	width: 375px;
	height: 607px;
	top: 121px;
	overflow: hidden;
}

.cart ul li {
	margin: 10px 0px;
	position: relative;
	width: 375px;
	height: 111px;
	mix-blend-mode: normal;
	border-radius: 30px;
}

.cart ul li img {
	position: relative;
	width: 100px;
	height: 92.12px;
	left: 23px;
	top: 9px;
	border-radius: 100px;
}

.cart ul li h4 {
	position: absolute;
	top: 9px;
	left: 133px;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.cart ul li h5 {
	position: absolute;
	height: 36px;
	left: 133px;
	top: 34px;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.05em;
	color: white;
}

.cart ul li .change_btn {
	position: absolute;
	width: 85px;
	height: 30px;
	left: 267px;
	top: 34px;
	background: #DFFF12;
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.cart ul li .del_btn {
	position: absolute;
	width: 85px;
	height: 30px;
	left: 182px;
	top: 70px;
	background: #D51B1B;
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #DFFF12;
}

.cart .total_price_cart {
	position: absolute;
	width: 100%;
	height: 72px;
	left: 0px;
	bottom: 0px;
	background: #DFFF12;
}

.cart .total_price_cart h4 {
	position: absolute;
	left: 23px;
	top: 21px;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.cart .total_price_cart h5 {
	position: absolute;
	left: 179px;
	top: 22px;
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.cart_active h3 {
	position: relative;
	width: 120px;
	height: 21px;
	left: 213px;
	top: 23px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.cart_active img {
	position: absolute;
	top: 52px;
	left: 213px;
	width: 120px;
	height: 2px;
}

.cart_active ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	width: 375px;
	height: 607px;
	top: 121px;
}

.cart_active ul li {
	margin: 10px 0px;
	position: relative;
	width: 375px;
	height: 111px;
	mix-blend-mode: normal;
	border-radius: 30px;
}

.cart_active ul li img {
	position: relative;
	width: 100px;
	height: 92.12px;
	left: 23px;
	top: 9px;
	border-radius: 100px;
}

.cart_active ul li h4 {
	position: absolute;
	top: 9px;
	left: 133px;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: white;
}

.cart_active ul li h5 {
	position: absolute;
	height: 36px;
	left: 133px;
	top: 34px;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.05em;
	color: white;
}

.cart_active ul li .change_btn {
	position: absolute;
	width: 85px;
	height: 30px;
	left: 267px;
	top: 34px;
	background: #DFFF12;
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.cart_active ul li .del_btn {
	position: absolute;
	width: 85px;
	height: 30px;
	left: 182px;
	top: 70px;
	background: #D51B1B;
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #DFFF12;
}

.cart_active .total_price_cart {
	position: absolute;
	width: 100%;
	height: 9%;
	top: 91%;
	background: #DFFF12;
}

.cart_active .total_price_cart h4 {
	position: absolute;
	left: 23px;
	top: 21px;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.cart_active .total_price_cart h5 {
	position: absolute;
	left: 179px;
	top: 22px;
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 600;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
}

.pay_title {
    position: absolute;
    width: 340px;
    left: -20px;
    height: 45px;
    top: -50px;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
}

@media (max-width: 1460px) {
	body {
		max-width: 1200px;
	}

	header {
		height: 80px;
	}

	.logo {
		top: 15%;
	}

	.menu {
		left: 25%;
	}

	.menu li a {
		font-size: 10px;
		margin: 0px 6px;
	}

	.log_cart {
		top: 40%;
	}

	.log_cart li a {
		margin: 0px 4px;
		font-size: 10px;
	}

	.log_cart img {
		height: 14px;
		margin: 0px 3px;
	}

	.limonade_text {
		top: 20%;
	}

	.img_page1 {
		top: 20%;
		left: 70%;
	}

	.text3_page1 {
		top: 40%;
		left: 6%;
	}

	.text2_page1 {
		left: 6%;
		top: 25%;
	}

	.btn_page1 {
		top: 65%;
		left: 6%;
	}

	.logo_page_3 h4 {
		left: 27%;
		width: 450px;
	}

	.img_page_3 {
		height: 40%;
		width: 200px;
		top: 30%;
		left: 60%;
	}

	.page5 .logo {
		left: 1215px;
	}

	.page5 .logo_text {
		position: absolute;
		left: 60%;
		top: 10%;
	}

	.page5 .text_list .t_1 {
		left: 40%;
		top: 20%;
	}

	.page5 .text_list .t_2 {
		left: 12%;
		top: 45%;
	}

	.page5 .text_list .t_3 {
		left: 75%;
		top: 40%;
	}

	.page6 .contacts_img_list .img1 {
		position: absolute;
		right: 10%;
		top: 30%;
	}

	.page6 .contacts_img_list .img2 {
		position: absolute;
		left: 10%;
		top: 30%;
	}

	.polit_conf {
		left: 62%;
		top: 187px;
	}
}

@media (max-width: 1200px) {
	body {
		max-width: 970px;
	}

	.menu {
		left: 20%;
	}

	.positions {
		mix-blend-mode: normal;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		position: absolute;
		height: 460px;
		left: 15%;
		top: 23%;
		overflow: hidden;
	}

	.positions li {
		position: static;
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 15px;
		margin-left: 0px;
	}

	.positions div {
		position: relative;
		left: -20px;
		width: 370px;
		height: 203px;
		background: rgba(0, 0, 0, 0.5);
		mix-blend-mode: normal;
		border-radius: 40px;
	}

	.stars_row {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		position: relative;
		left: 4%;
		top: 2%;
	}

	.stars_row li {
		margin: 0px 1px;
	}

	.pos_reviews {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		left: 50%;
		top: 2%;
	}

	.pos_reviews h5 {
		position: relative;
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.05em;
		color: white;
	}

	.pos_reviews img {
		position: static;
		margin: 4px 0px;
	}

	.img_for_pos {
		position: relative;
		width: 150px;
		height: 138.18px;
		left: 23px;
		top: 14px;
	}

	.name_price_pos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 240px;
		height: 77px;
		left: 144px;
		top: -130px;
	}

	.name_price_pos h3 {
		position: relative;
		width: 240px;
		height: 32px;
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		vertical-align: middle;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.name_price_pos h4 {
		position: relative;
		width: 109px;
		height: 16px;
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
		color: white;
	}

	.name_price_pos li {
		margin: -5px 0px;
	}

	.btn_box {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 195px;
		height: 36px;
		left: 166px;
		top: -100px;
	}

	.btn_box li {
		flex: none;
		order: 0;
		flex-grow: 0;
		margin: 0px 7px;
	}

	.buy_btn_pos_page2 {
		position: static;
		width: 90px;
		height: 40px;
		left: 12.5px;
		top: 14px;
		background: #FFD912;
		border-radius: 5px;
		border: none; /*рамка*/

		color: black;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 13px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.05em;
	}

	.reserv_btn_pos_page2 {
		position: static;
		width: 90px;
		height: 40px;
		left: 134.5px;
		top: 15px;
		border: 1px solid #FFD912;
		box-sizing: border-box;
		border-radius: 5px;
		background-color:rgba(0, 0, 0, 0);

		color: #FFD912;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 13px;
		line-height: 140%;
		text-align: center;
		letter-spacing: 0.05em;
	}

	.page5 .text_list .t_4 {
		left: 55%;
		top: 80%;
	}

	.page5 .text_list .t_4 h4 {
		transform: rotate(40deg);
	}

	.page5 .text_list .t_2 {
		left: 12%;
		top: 60%;
	}

	.page5 .text_list .t_3 {
		left: 70%;
		top: 40%;
	}

	.page6 .contacts_img_list .img1 {
		position: absolute;
		right: 5%;
		top: 30%;
	}

	.page6 .contacts_img_list .img2 {
		position: absolute;
		left: 5%;
		top: 30%;
	}

	.polit_conf {
		left: 53%;
	}

}

@media (max-width: 992px) {
	body {
		max-width: 770px;
	}

	.menu {
		left: 22%;
		top: 55%;
	}

	.positions {
		mix-blend-mode: normal;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		position: absolute;
		height: 460px;
		width: 100%;
		left: 4%;
		top: 23%;
		overflow: hidden;
	}

	.page4 .page4_pos_4 li {
		width: 325px;
	}

	.page4 .page4_pos_4 .review_infobox button {
		left: 200px;
	}

	.page5 .text_list .t_4 {
		left: 50%;
	}

	.page5 .text_list .t_4 h4 {
		transform: rotate(50deg);
	}

	.page5 .text_list .t_1 {
		left: 35%;
		top: 20%;
	}

	.page5 .text_list .t_3 {
		left: 60%;
		top: 40%;
	}

	.page6 .contacts_img_list .img1 {
		position: absolute;
		top: 30%;
		width: 40%;
	}

	.page6 .contacts_img_list .img2 {
		position: absolute;
		top: 30%;
		width: 40%;
	}

	.polit_conf {
		left: 40%;
	}

}

@media (max-width: 780px) {
	body {
		max-width: none;
	}
	.outside_cart, .cart {
		display: none;
	}
	.log_in_page {
		background: url(../img/main_bg_mob.png) no-repeat;
		background-size: 100% 100%;
	}
	.log_in_page .log_in_box {
		position: absolute;
		width: 300px;
		height: 231px;
		left: 10%;
		top: 35.625%;
	}
	.teleport {
		background-color: white;
		position: absolute;
		top: 20vh;
		left: 5vh;
		display: block;
	}
	.teleport a {
		color: black;
		font-size: 20px;
	}

    .menu {
        display: none;
        flex-direction: row;
        align-items: flex-start;
        position: absolute;
        height: 18%;
        weight: 41.75%;
        left: 17%;
        top: 41%;
    }

    .log_cart {
        top: 40%;
    }

    .log_cart li a {
        margin: 0px 9px;
        font-size: 17px;
        text-align: center;
    }

    .log_cart img {
        height: 22px;
        color: black;
        margin: 0px 5px;
    }

}
